<div class="container-about">
  <audio id="sound" src="<%= asset_path('secret.wav') %>" autoplay></audio>
  <div class="about">
    <h1> Welcome to the Zelda Quiz</h1>
    <p>I decided to do this page to practice my skills creating in the digital world</p>
    <p>If you like it...I am happy to hear it! Then if you think that a friend would enjoy it, please share it</p>
    <p>If you don't like it...I understand! Then share it to your enemies👹</p>

    <h3>DISCLAIMER!!!</h3>
    <p>One little thing. I don't own any property of Zelda or Nintendo's games. <br> I will not charge or make any money out of this game. Again, it is just for practicing.<br> Nintendo don't get mad! I just love the Zelda universe so much :)</p>
  </div>
  <div class="button-back">
      <%= link_to zeldaquiz_path, class: "triforce-button" do %>
      <%= image_tag("triforce.png", alt: "Go Back") %>
      Go Back
    <% end %>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var audio = document.getElementById('sound');
    audio.play();
});
</script>
