<div class="navbar">
  <h1>Zelda Quiz</h1>
</div>

<div class="container">

  <div class="score">
    <div class="now">
      <p>NOW</p>
      <p>0</p>
    </div>
    <div class="life">
      <i class="fa-solid fa-heart"></i>
      <i class="fa-solid fa-heart"></i>
      <i class="fa-solid fa-heart"></i>
    </div>
    <div class="top">
      <p>TOP</p>
      <p>15</p>
    </div>
  </div>

  <div class="game-screen">
    <div class="guess-image">
      <img src="<%= asset_path("wallpaper.jpg") %>" alt="Hyrule">
    </div>
  </div>


  <div class="game-keyboard">
    <button class="image-button">
    <img src="<%= asset_path("triforce.png") %>" alt="Button Image">
    </button>
    <p>Press here to play!</p>
  </div>

  <div class="log">
    <p>You have 3 attempts left</p>
  </div>

</div>

<div class="footer">
  <a href="https://github.com" target="_blank">
    <i class="fab fa-github" style="color: white;"></i>
  </a>
  <%= link_to "About", zeldaquiz_about_path, class: "btn-about" %>
  <p>Created in 2024</p>
</div>
